<!doctype html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>Upload new File</title>
<h1>Upload new File</h1>
<form action="" method=post enctype=multipart/form-data>
	<p>
		<h3>Select Team:
		<select name="team" required>
			<option value=""> -- select a team -- </option>
			{% for line in teamList %}
			<option value={{ line[1] }}>{{line[0]}}</option>
			{% endfor %}
		</select>
		</h3>
	</p>
	<h4>Allowed File:.txt,.csv</h4>
	<p><input type=file name=file>
		<input type=submit value=Upload></p>
</form>
<form method=get action={{url_for('cur_ranking')}}>
	<p><button type=submit>LeaderBoard</button></p>
</form>
